body{
    margin: 0px;
    padding: 0px;
    color: #fff;
    background: url('../images/blue-background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-weight: 100;
}

.container-fluid{
    margin-top: 120px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.empty-space{
    height: 75px;
}

.panel-color{
    background-color: rgba(0, 48, 60, 0.6);
    border-radius: 10px;
    max-width: 500px;
    padding-bottom: 1.25rem;
}

.day-container{
    padding-top: 1.25rem;
}

.day-font{
    font-size: 32px;
    font-weight: bolder;
}

hr { 
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#time{
    text-align: right;
}

.main-pad{
    text-align: center;
    padding-top: 1.25rem;
}

div#weatherDescription {
    margin-bottom: 22px;
    font-size: 32px;
}

#city{
    font-size: 24px;
    font-weight: bolder;
}

#weatherTemp{
    font-size: 82px;
    font-weight: bolder;
} 

.btnn{
    background: transparent;
    border: white 1px solid;
    color: #fff;
    max-height: 35px;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    border-radius: 5px;
    width: 100px;
}

.sm-info-bar{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 14px;
    text-align: center;
}

.sm-hr{
    max-width: 10px;
}

.sm-empty-space{
    height: 15px;
}

